.anim__dot{
    height : $dot-size;
    width: $dot-size;
    border-radius: 50%;
    margin:0 3px -35px 3px;

    background-color: $clr-link;

    @include mobile-only{
        height : $dot-size*0.5;
        width: $dot-size*0.5;
        margin-bottom: -22px;
    }
    

    &1{
        animation: flow 0.6s ease-out 0s infinite alternate;
    }
    &2{
        animation: flow 0.6s ease-out 0.2s infinite alternate;
    }
    &3{
        animation: flow 0.6s ease-out 0.4s infinite alternate;
    }
}

@keyframes flow{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    80%{
        transform: scale(0.9);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.2);
        opacity: 1;
    }
}
