.header{
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px;

    background-color: $bck-color-primary;
    &__logo{
        font-size: 100px;
        font-weight: 700;
        letter-spacing: -3px;
    }
}