.prochainement{
    height: $prochainement-height;
    width: $prochainement-width;
    border-radius: 21px;
    margin-bottom: 222px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $bck-color-primary;
    @include mobile-only{
        height: $prochainement-height*0.7;
    }

    &__text{
        font-size: 60px;
        letter-spacing: -3px;

        margin-right: 10px;

        color: $clr-link;
        @include mobile-only{
            font-size: 35px;
        }
    }

    &__anim{
        display: flex;
        align-items: flex-end;
        height: 40px;
        @include mobile-only{
            height: 25px;
        }
    }
    
}