.menu{
    &--chic{
        background-color: $bck-color-chic;
        font-family: $font-chic-secondary;
        padding: 0 3%;
    }

    &__titre{
        &--chic{
            margin: 3.30em 0 2.9em 0;

            font-size: 56px;
            font-family: $font-chic-primary;
            background-image: $grad-color-chic;
            @include text-gradient;

            @include mobile-only{
                font-size: 40px;
            }
        }
    }

    &__sstitre{
        &--chic{
            font-size: 31px;
        }
    }

    &__separation, &__choix{
        &--chicorange{
            color: $clr-chic;
        }

        &--chicviolet{
            color: $clr-chic-2;
        }

        &--chicbleu{
            color: $clr-chic-3;
        }
    }

    &__choix{
        &--chic{
            padding: 0 13%;
        }
    }
}