.menu{
    &--delice{
        background-color: $bck-color-delice;
        padding: 0 5%;
    }

    &__titre{
        &--delice{
            font-size: 80px;
            font-weight: 400;
            font-family: $font-delice-primary;
            padding: 0 20px;
            margin: 2.075em 0 1.65em 0;
            
            background-image: $grad-color-delice;
            @include text-gradient;

            @include mobile-only{
                font-size: 39px;
            }
        }
    }
    &__sstitre{
        &--delice{
            font-size: 31px;
        }
    }

    &__choix{
        &--delice{
            padding: 0 10%;
        }
    }
}