.card{
    &--delice{
        background-color: $bck-color-delice;
    }
    &__titre{
        &--delice{
            font-family: $font-delice-primary;
            font-size: 45px;

            padding-left: 5px;

            background: $grad-color-delice;
            @include text-gradient;
        }
    }
    &__sstitre{
        &--delice{
            font-family: $font-delice-secondary;
            color: $clr-delice;
        }
    }
}