.card{
    &--palette{
        background-color: $bck-color-palette;
    }
    &__titre{
        &--palette{
            font-family: $font-palette-primary;
            font-size: 45px;

            padding-right: 5px;

            background: $grad-color-palette;
            @include text-gradient;
        }
    }
    &__sstitre{
        &--palette{
            font-family: $font-palette-secondary;

            color: $clr-palette;
        }
    }
}