/* COULEURS DE BACKGROUND */

$bck-color-primary:#579C87;
$bck-color-note:#FCDFDB;
$bck-color-chic:#FFF5FE;
$bck-color-delice:#EDEFEF;
$bck-color-palette:#FDFFFD;

/* GRADIENTS DE COULEUR */

$grad-color-noteicon: linear-gradient(45deg, #F04A5E, #F78F6A);
$grad-color-chic: linear-gradient(45deg, #D8852E, #905BFD);
$grad-color-delice: linear-gradient(90deg, #0D1F71, #0D88FA); 
$grad-color-palette: linear-gradient(90deg, #3D9339, #C3FD8B);

/* COULEURS DE POLICE */

$clr-primary: #000;
$clr-link: #FDCB46;
$clr-note: #3C1218;
$clr-chic: #C77412;
$clr-chic-2: #A56799;
$clr-chic-3: #6E4CCC;
$clr-delice: #0887FB;
$clr-palette: #72BF56;

/* OMBRES COULEURS */

$clr-shadow: rgb(165, 165, 165);