/* POLICES D'ECRITURES POUR LES CARDS */

$font-primary: "Montserrat";

$font-note-primary: "Devonshire", cursive;
$font-note-secondary: "Sriracha", cursive;

$font-chic-primary: "Croissant One", cursive;
$font-chic-secondary: "Noto Serif", serif;

$font-delice-primary: "Dancing Script", cursive;
$font-delice-secondary: "Segoe Print";

$font-palette-primary: "Kaushan Script", cursive;
$font-palette-secondary: "Segoe Print";

/* POLICES D'ECRITURES POUR LES MENUS */

